.present-box {
    background-color: #fbe9fa99;
    border-radius: 50px;
    margin: 10px;
    padding: 15px;
    max-width: 1000px;
    height: 100%;
    display: flex;
}

.display-image-holder {
    min-width: 30%;
    max-width: 30%;
    height: auto;
    align-content: center;
}

.display-image {
    width: 100%;
    border-radius: 50px;
}

.text-container {
    display: flex;
    flex-direction: column;
    padding: 1%;
    margin: 1%;
    justify-content: flex-start;
    transform: translateY(-20px);
    font-size: 20px;
}

.text-container h2 {
    margin-bottom: 5px;
}

.text-container p {
    margin-top: 0;
    margin-bottom: 0;
}

@media (max-width: 768px) {
    .text-container {
        transform: translateY(0px);
    }
}