@font-face { font-family: Kabisat;
    src: url(/fonts/kabisat-italictall.woff2);}
@font-face { font-family: 'Golden Girdle';
    src: url(/fonts/Golden\ Girdle.otf);}
@font-face { font-family: Excelorate;
    src: url(/fonts/Excelorate-Font.otf);}

html, body {
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

h1 {
    font-family: Kabisat, Excelorate, 'Golden Girdle', Calibri;
    font-size: 5vw;
    line-height: 170%;
    color: #ffb4fb;
}

@supports (-webkit-touch-callout: none) {
    .layout-container {
      /* Fallback for iOS Safari */
      height: -webkit-fill-available;
    }
  }