
/* home.css */
.layout-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  
  .canvas-wrapper {
    flex: 1;
    position: relative;
  }
  
  /* This ensures the Canvas fills its container */
  .canvas-wrapper > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }