.directoryHolder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fbe9fa;
}

.directoryBoxHolder {
    background-color: magenta;
    display: flex;
    flex-direction: row;
    justify-content: center;
}