h1 {
    color: #9b15f6;
    justify-self: center;
}

.parallax-bg {
    justify-self: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    z-index: -1;
    
}